<ons-page ng-controller="plan_controller">
<ons-toolbar>
  <div class="center">Auto plans</div>
</ons-toolbar>

<ons-list>
	<ons-list-item id="show_add_plan" ng-click="add_plan('#show_add_plan');" modifier="chevron"><ons-icon class='list_item_icon'  icon="ion-ios-plus-outline"></ons-icon>Add plan</ons-list-item>
	<ons-list-item ng-click="myApp.navi.pushPage('lspln.html')" modifier="chevron"><ons-icon class='list_item_icon'  icon="ion-ios-list-outline"></ons-icon>Plan list</ons-list-item> 
</ons-list>	

</ons-page>
