<ons-page ng-controller="dev_air_brand_controller">
<ons-toolbar>
	     <div class="left">
     	<ons-back-button></ons-back-button> 
     	</div>
  <div class="center">Add a Air condition</div>
</ons-toolbar>

<!--
<div class='brand_box' ng-repeat="band in brands"  ng-click="set_air_brand(band)">
	{{band.brand}}#{{ band.type }}
</div>
-->
<ons-list ng-repeat="(key,value) in air_brands">
	<ons-list-item  ng-click="toggle_expand(key,true);">
		{{key}}
	</ons-list-item>	
	<div ng-show="value.expand">
		<div style="clear:both;text-align:left;">
			<ons-button ng-click="toggle_expand(key,false);" >{{unexpand_str}} </ons-button>
		</div>
		
		<div class='brand_box' ng-repeat="(a,b) in value"  ng-click="set_air_brand(key,a,false)" ng-if="a!='expand'">
			{{key}}{{a}}
		</div>
  </div>

</ons-list>

</ons-page>